---
import { getLangFromUrl, useTranslations } from "../i18n/utils"
import Back from '../../src/assets/Header.jpg';
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---


<html>
    <body>
        <div class="relative w-full h-screen bg-white">
            <!-- Imagen de fondo -->
            <img src={Back.src} alt="Descripción de la imagen" class="object-cover w-full h-full filter brightness-[.7] -translate-y-16">
        
            <!-- Cuadro de texto en la parte superior izquierda -->
            <div class="absolute top-6 left-12 p-12 text-white text-center text-bold text-6xl">
                <h2>{t('bg-text1')}</h2>
                <h2>{t('bg-text2')}</h2>
                <h2>{t('bg-text3')}</h2>
            </div>
        
            <!-- Cuadro de texto en la parte inferior derecha -->
            <div class="absolute bottom-24 right-20 p-4 text-white">
                <h2 class="text-6xl font-bold">CADSS</h2>
            </div>
        </div>
    </body>
</html>