---
import { getLangFromUrl, useTranslations } from "../i18n/utils"
import Back from '../../src/assets/FieldCrops_CAD.jpg';
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<html>
    <body>
        <div class="relative w-full h-screen bg-white">
            <!-- Imagen de fondo -->
            <img src={Back.src} alt="Descripción de la imagen" class="object-cover w-full h-full -translate-y-16 filter brightness-[.9] ">
        
            <!-- Cuadro de texto centrado -->
            <div class="absolute top-1/3 left-1/2 transform -translate-x-1/2 -translate-y-1/2 text-center text-[#1B4953]">
                <h2 class="text-7xl font-bold p-4">CADSS</h2>
                <h2 class="text-7xl font-bold">{t('bg-local')}</h2>
            </div>
        </div>
    </body>
</html>
