---
import { getLangFromUrl, useTranslations } from "../i18n/utils"
import Header from "../components/Header.astro"
import Background from "../components/Background.astro"
import Cosecha from "../components/Cosecha.astro"
import Footer from "../components/Footer.astro"
import Info from "../components/Info.astro";


const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<html lang={lang} dir="ltr" prefix="og: https://ogp.me/ns#">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>CADSS</title>
		<Header />
	</head>
	<body>
        <h1>About</h1>
        <Footer />
	</body>
</html>