---
import { getLangFromUrl, useTranslations } from "../i18n/utils"
import Header from "../components/Header.astro"
import Background from "../components/Background.astro"
import Footer from "../components/Footer.astro"


const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<html lang={lang} dir="ltr" prefix="og: https://ogp.me/ns#">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Title</title>
		<Header />
	</head>
	<body>
		<Background />
		<Footer />
	</body>
</html>